---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

const projects = await getCollection("projects");
---

<Layout title="develholzer">
	<main>
		<div class="main-content">
			<section class="side-projects">
				<h3>Some of my side projects</h3>

				<div class="project-list">

					{
						projects.map(project => (
							<ProjectCard 
								title={project.data.title}
								imgUrl={project.data.imgUrl}  
								description={project.data.description}
								githubUrl={project.data.githubUrl}
							/>
						))
					}
				</div>
			</section>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		justify-content: center;

		.main-content {
			margin: 0 2rem;
			flex: 1;
			max-width: 60rem;
		}

		.side-projects {

			h3 {
				font-size: 1.6rem;
				margin-bottom: 2rem;
			}

			.project-list {
				display: flex;
				gap: 10px;
				flex-direction: column;
				align-items: center;	
			}
		}

	}
</style>
