---
import Layout from '../layouts/Layout.astro';
---

<Layout title="develholzer">
	<main>
		<div class="main-content">
			<section class="side-projects">
				<h3>Some of my side projects</h3>

				<div class="project-list">
					<div class="project">
						<h5>游냓 Tweety</h5>

						<div class="project-content">
							<img src="https://i0.wp.com/www.fcme.org/wp-content/uploads/Twitter-logo.jpg?fit=600%2C436&ssl=1" alt="">
							<div class="description">
								<p>
									Tweety is a web application that allows you to create an image using the twitter user most recent tweets. The application connects to the Twitter API, retrieves the most recent tweets, and uses Hugging Face's stable diffusion model to generate an image.
								</p>

								<button>
									Ver m치s
								</button>
							</div>
						</div>
					</div>

					<div class="project">
						<h5>游 Raspberry IOT</h5>

						<div class="project-content">
							<img src="https://www.raspberrypi.com/app/uploads/2022/02/COLOUR-Raspberry-Pi-Symbol-Registered.png" alt="">
							<div class="description">
								<p>
									Raspberry Pi es una plataforma de hardware de computaci칩n de una sola placa que cuenta con una variedad de pines de entrada/salida que pueden ser utilizados para controlar una amplia gama de sensores y actuadores en proyectos de IoT. Los pines de entrada/salida permiten la interconexi칩n con sensores de temperatura, humedad, luz, movimiento y otros dispositivos de monitoreo y control de ambiente.
								</p>

								<button>
									Ver m치s
								</button>
							</div>
						</div>
					</div>

					
				</div>
			</section>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		justify-content: center;

		.main-content {
			margin: 0 2rem;
			flex: 1;
			max-width: 60rem;
		}

		.side-projects {

			h3 {
				font-size: 1.6rem;
				margin-bottom: 2rem;
			}

			.project-list {
				// border: 1px solid red;
				// padding: 0.5rem;
				display: flex;
				gap: 10px;
				flex-direction: column;
				align-items: center;
	
				.project {
					max-width: 40rem;
					display: flex;
					flex-direction: column;
					gap: 1rem;
					background-color: white;
					box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.387);
					border-radius: 10px;
					padding: 1rem;

					h5 {
						font-size: 1.3rem;
						font-weight: 500;
						cursor: pointer;
						transition: transform 0.3s ease-out;

						&:hover {
							transform: translateY(-2px);
						}
					}

					.project-content {
						display: grid;
						grid-template-columns: 10rem auto;
						grid-template-rows: 10rem;
						gap: 1rem;

						img {
							border: 1px solid rgb(212, 202, 202);
							border-radius: 10px;
							width: 100%;
							height: 100%;
							object-fit: cover;
							cursor: pointer;
							transition: transform 0.3s ease-out;

							&:hover {
								transform: translateY(-2px);
							}
						}

						.description {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							gap: .25rem;
							
							p {
								overflow-y:  hidden;
								text-overflow: ellipsis;
							}

							button {
								align-self: flex-end;

								// Button component styles
								padding: .45rem .25rem;
								min-width: 7rem;
								border: none;
								background-color: #ffbf00;
								color: #232222;
								border-radius: 5px;
								cursor: pointer;
								font-weight: 600;
								box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.387);
								transition: transform 0.3s ease-out;

								&:hover {
									background-color: #ffcd36;
									transform: translateY(-2px);
								}
							}
						}
					}
				}
			}
		}

	}
</style>
